{% extends "base.html" %}   {#继承自base.html#}

{% block content %}
    <h1>竞赛列表</h1>
    {% from "_field.html" import render_field %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table>
            {{ render_field(form.name) }}
            {{ render_field(form.type) }}
            {{ render_field(form.level) }}
        </table>
        <p>
            {{ form.details.label }}<br>
            {{ form.details(cols=32, rows=4) }}<br>
            {% for error in form.details.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}