{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        <tr>
            <th>竞赛名</th>
            <th>竞赛时间</th>
            <th>竞赛类型</th>
            <th>竞赛等级</th>
            <th>指导教师</th>
            <th>个人(组队)</th>
            <th>所得奖项</th>
        </tr>
        {% for list in lists %}
            <tr valign="top">
                <td>{{ list.contest_details.contest_name }}</td>
                <td>{{ list.contest_details.contest_time }}</td>
                <td>{{ list.contest_details.contest_type }}</td>
                <td>{{ list.contest_details.level }}</td>
                <td>{{ list.teacher_details.username }}</td>
                {% if list.user_type == 0 %}
                    <td>个人</td>
                {% else %}
                    <td>组队</td>
                {% endif %}

                {% if list.grade=='0' %}
                    <td><a href={{ url_for('award_details', award_id=list.award_id) }}>待录入(详情...)</a></td>
                {% else %}
                    <td><span style="color: red;">{{ list.grade }}</span>
                        <a href={{ url_for('award_details', award_id=list.award_id) }}>(详情...)</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% if pagination %}
        {{ macros.pagination_widget(pagination, 'award_list') }}
    {% endif %}

{% endblock %}