{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>获奖详情
        {% if ((current_user.type == 'admin') or (current_user.type == 'teacher' and current_user.get_teacher_type()==1))
        and award.grade=='0' %}--奖项录入{% endif %}
    </h1>
    <table class="table table-hover table-bordered">
{#        <caption>申请详情</caption>#}
        <tr>
            <th>竞赛名</th>
            <td>{{ award.contest_details.contest_name }}</td>
        </tr>
        <tr>
            <th>竞赛时间</th>
            <td>{{ award.contest_details.contest_time }}</td>
        </tr>
        <tr>
            <th>竞赛类型</th>
            <td>{{ award.contest_details.contest_type }}</td>
        </tr>
        <tr>
            <th>竞赛等级</th>
            <td>{{ award.contest_details.level }}</td>
        </tr>
        <tr>
            <th>指导教师</th>
            <td>{{ award.teacher_details.username }}</td>
        </tr>
        <tr>
            <th>个人(组队)</th>
            {% if award.user_type==0 %}
                <td>个人</td>
            {% else %}
                <td>组队</td>
            {% endif %}
        </tr>
        {% if team %}
            <tr>
                <th>队伍名称</th>
                <td>{{ team.team_name }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>成员</th>
            {% if user_details %}
                <td>
                    <ul>
                        <li>学号：{{ user_details.user_id }}</li>
                        <li>姓名：{{ user_details.username }}</li>
                    </ul>
                </td>
            {% elif team %}
                <td><div style="color: red"><b>成员1为队长</b></div>
                <table class="table table-striped" border="1">
                <tr>
                    <th>学号：</th>
                    {% for part in team.parts %}
                        <td>{{ part.user_id }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>姓名：</th>
                    {% for part in team.parts %}
                        <td>{{ part.username }}</td>
                    {% endfor %}
                </tr>
                </table>
                </td>
            {% endif %}
        </tr>
        <tr>
            <th>获奖情况</th>
            {% if award.grade=='0' %}
                <td>未录入</td>
            {% else %}
                <td>{{ award.grade }}</td>
            {% endif %}
        </tr>
    </table>
    {% if ((current_user.type == 'admin') or (current_user.type == 'teacher' and current_user.get_teacher_type()==1))
        and award.grade=='0' %}         {#用户类型为管理员或管理教师，且获奖情况未录入#}
        <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        </div>
    {% endif %}
{% endblock %}