<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            菜单:
            <a href="{{ url_for('index') }}">主页</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">登陆</a>
            {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">个人信息</a>
                <a href="{{ url_for('logout') }}">注销</a>
                {% if current_user.type==0 %}   {#管理员功能#}
                    <a href="{{ url_for('add_contest') }}">添加竞赛</a>

                {% elif current_user.type==1 %} {#学生功能#}

                {% elif current_user.type==2 %} {#教师功能#}
                    
                {% endif %}
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>