{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    {{ title }} - 竞赛管理系统
    {% else %}
    Welcome to Microblog
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">主页</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"> {#导航栏左侧显示#}
{#                    <li><a href="{{ url_for('index') }}"></a></li>#}
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}">个人信息</a></li>
                    {% endif %}

{#                    <li>左侧</li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">    {#导航栏右侧显示#}
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">登陆</a></li>
                    {% else %}
                        {% if current_user.type=='admin' %}   {#管理员功能#}
                        <li><a href="{{ url_for('add_contest') }}">添加竞赛</a></li>
                        <li><a href="{{ url_for('add_user') }}">添加用户</a></li>
                    {% elif current_user.type=='student' %} {#学生功能#}
    {#                    <a href="{{ url_for('apply_contest') }}">申报竞赛</a>#}   {# 已添加到竞赛列表中 #}

                    {% elif current_user.type=='teacher' %} {#教师功能#}

                    {% endif %}
                    <li><a href="{{ url_for('request_list') }}">申请列表</a></li>
                    <li><a href="{{ url_for('contest_list') }}">竞赛列表</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            修改信息
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('edit_profile') }}">修改基本信息</a></li>
                            {% if current_user.type == 'student' %}
                            <li><a href="{{ url_for('edit_work') }}">修改就业信息</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('edit_password') }}">修改密码</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('logout') }}">注销</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{#    <body>#}
{#        <div>#}
{#            菜单:#}
{#            <a href="{{ url_for('index') }}">主页</a>#}
{#            {% if current_user.is_anonymous %}#}
{#                <a href="{{ url_for('login') }}">登陆</a>#}
{#            {% else %}#}
{#                {% if current_user.type==0 %}   {#管理员功能#}
{#                    <a href="{{ url_for('add_contest') }}">添加竞赛</a>#}
{#                    <a href="{{ url_for('add_user') }}">添加用户</a>#}
{#                {% elif current_user.type==1 %} {#学生功能#}
{#                    <a href="{{ url_for('apply_contest') }}">申报竞赛</a>#}
{##}
{#                {% elif current_user.type==2 %} {#教师功能#}
{#                    <a href="{{ url_for('request_list') }}">申请列表</a>#}
{#                {% endif %}#}
{#                <a href="{{ url_for('user', username=current_user.username) }}">个人信息</a>#}
{#                <a href="{{ url_for('contest_list') }}">竞赛列表</a>#}
{#                <a href="{{ url_for('contest') }}">参赛情况</a>#}
{#                <a href="{{ url_for('logout') }}">注销</a>#}
{##}
{#            {% endif %}#}
{#        </div>#}
{#        <hr>#}
{#        {% with messages = get_flashed_messages() %}#}
{#        {% if messages %}#}
{#        <ul>#}
{#            {% for message in messages %}#}
{#            <li>{{ message }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        {% endif %}#}
{#        {% endwith %}#}
{#        {% block content %}{% endblock %}#}
{#    </body>#}

{% block content %}
    <div class="container">
       {% with messages = get_flashed_messages() %}     {# 显示警示信息#}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# 其他的模板应该用block app_content来继承#}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function request_agree(req_id){//同意申请
            if(confirm('确定审核通过吗？')){
                $.post('/contest/agree', {
                    req :req_id,
                }).done(function () {
                    alert("审核成功");
                }).fail(function() {
                    alert("修改出错");
                });
            }
            else {
                return false;
            }
        }
        function request_disagree(req_id){//拒绝申请
            if(confirm('确定拒绝申请吗？')){
                $.post('/contest/disagree', {
                    req :req_id,
                }).done(function () {
                    alert("审核成功");
                }).fail(function() {
                    alert("修改出错");
                });
            }
            else {
                return false;
            }
        }
        function if_agree(req_id){//审核申请
            var mymessage= confirm("同意申请吗？");
            var ch_req = '#'+req_id;    {#用来表示选择器#}
            $.post('/contest/if_agree', {
                req :req_id,
                agree_status : mymessage
            }).done(function () {
                {#alert(mymessage);#}
                if (mymessage==true){
                    $(ch_req).html("已通过").css("color","green");
                    alert("修改成功");
                } else {
                    $(ch_req).html("已拒绝").css("color","red");
                    alert("修改成功");
                }
            }).fail(function() {
                alert("修改出错");
            });
            }
        {#function get_alone_request(){#}
        {#    $.post('/request/alone')#}
        {#        .done()#}
        {#}#}
        $(function() {
            $('#myTab a:last').tab('show');
            // write start up code here
        });
    </script>
{% endblock %}
