{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>
    {% if current_user.type == 'student' %}
        提交竞赛申请
    {% else %}
        竞赛详情
    {% endif %}
    </h1>
        <table class="table table-hover table-bordered">
            <tr>
                <th width="20%">竞赛名</th>
                <td>{{ contest.contest_name }}</td>
            </tr>
            <tr>
                <th width="20%">竞赛时间</th>
                <td>{{ contest.contest_time }}</td>
            </tr>
            <tr>
                <th width="20%">竞赛描述</th>
                <td>{{ contest.details }}</td>
            </tr>
            <tr>
                <th width="20%">文件下载</th>
                <td>
                    {% if contest.filename %}
                        <a href="{{ url_for('downloader', contest_id=contest.contest_id) }}">{{ contest.filename }}</a>
                    {% else %}
                        无相关文件
                    {% endif %}
                </td>
            </tr>
        </table>
    {% if current_user.type == 'student' %}
        <div class="row">
            <div class="col-md-4">
                <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form) }}
                    {{ wtf.form_field(form.teacher) }}
                    <label for="disabledInput1">成员1（队长）学号</label>
                    <input class="form-control" id="disabledInput1" type="text" placeholder="{{ current_user.user_id }}" disabled>
                    <label for="disabledInput2">成员1（队长）姓名</label>
                    <input class="form-control" id="disabledInput2" type="text" placeholder="{{ current_user.username }}" disabled>
                    {{ wtf.form_field(form.notes) }}

                    {{ wtf.form_field(form.team_name) }}
                    {{ wtf.form_field(form.id2) }}
                    {{ wtf.form_field(form.id3) }}
                    {{ wtf.form_field(form.id4) }}
                    {{ wtf.form_field(form.id5) }}

                    {{ wtf.form_field(form.submit) }}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}