{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>

    <table class="table table-hover">
        <tr>
            <th width="15%">竞赛名</th>
            <th width="10%">竞赛时间</th>
            <th width="9%">竞赛类型</th>
            <th width="8%">竞赛等级</th>
            <th width="20%">竞赛描述</th>
            <th width="10%">文件下载</th>
            {% if current_user.type=='student' %}
                <th width="7%">申报该竞赛</th>
            {% endif %}
        </tr>
        {% for list in lists %}
            <tr valign="top">
                <td>{{ list.contest_name }}</td>
                <td>{{ list.contest_time }}</td>
                <td>{{ list.contest_type }}</td>
                <td>{{ list.level }}</td>
                <td>{{ list.details }}</td>
                <td>
                    {% if list.filename %}
                        <a href="{{ url_for('downloader', contest_id=list.contest_id) }}">{{ list.filename }}</a>
                    {% else %}
                        无相关文件
                    {% endif %}
                </td>
                {% if current_user.type== 'student' %}
                    <td class="text-center"><a href="{{ url_for('apply_contest',contest_id=list.contest_id) }}">申请</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> 上一页
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    下一页 <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}