{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
{#    {% if form %}#}
{#    <form action="" method="post">#}
{#        {{ form.hidden_tag() }}#}
{#        <p>#}
{#            {{ form.post.label }}<br>#}
{#            {{ form.post(cols=32, rows=4) }}<br>#}
{#            {% for error in form.post.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>{{ form.submit() }}</p>#}
{#    </form>#}
{#    {% endif %}#}
    <table border="1">
        <caption>竞赛列表</caption>
        <tr valign="top">
            <th>竞赛名</th>
            <th>竞赛类型</th>
            <th>竞赛等级</th>
            <th>竞赛描述</th>
            {% if current_user.type==1 %}
                <th>申报该竞赛</th>
            {% endif %}

        </tr>
        {% for list in lists %}
            <tr valign="top">
                <td>{{ list.contest_name }}</td>
                <td>{{ list.contest_type }}</td>
                <td>{{ list.level }}</td>
                <td>{{ list.details }}</td>
                {% if current_user.type==1 %}
                    <td><a href="{{ url_for('apply_contest',contest_name=list.contest_name) }}">申请</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if prev_url %}
        <a href="{{ prev_url }}">上一页</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">下一页</a>
        {% endif %}
{#    {% if prev_url %}#}
{#    <a href="{{ prev_url }}">Newer posts</a>#}
{#    {% endif %}#}
{#    {% if next_url %}#}
{#    <a href="{{ next_url }}">Older posts</a>#}
{#    {% endif %}#}
{% endblock %}