{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1><br>
    {#  如果为学生录入就业信息，将就业和考研\创业分开录入 #}

    <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default {% if exist != 'work' and exist != 'no' %} disabled {% endif %}"
               href="{{ url_for('edit_work') }}" role="button">就业</a>
            <a class="btn btn-default {% if exist != 'study' and exist != 'no' %} disabled {% endif %}"
               href="{{ url_for('edit_study') }}" role="button">考研</a>
            <a class="btn btn-default {% if exist != 'create' and exist != 'no' %} disabled {% endif %}"
               href="{{ url_for('edit_create') }}" role="button">创业</a>
    </div>

    {% if exist == 'no' %}
        <span style="color: red;"><b>（请注意，就业\考研\创业 信息添加后不能修改！！）</b></span>

        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    {% elif exist == 'work' %}    {#  如果填写过就业信息，使之不能修改 #}
        <form>
        <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="disabledInput1">{{ form.company_name.label }}</label>
                <input class="form-control" id="disabledInput1" type="text" placeholder="{{ student.company_name }}" disabled>
                <label for="disabledInput2">{{ form.company_type.label }}</label>
                <input class="form-control" id="disabledInput2" type="text" placeholder="{{ student.company_type }}" disabled>
                <label for="disabledInput3">{{ form.job.label }}</label>
                <input class="form-control" id="disabledInput3" type="text" placeholder="{{ student.job }}" disabled>
                <label for="disabledInput4">{{ form.salary.label }}</label>
                <input class="form-control" id="disabledInput4" type="text" placeholder="{{ student.salary }}" disabled>
            </div>
        </div>
        </div>
        </form>
    {% elif exist == 'study' %}         {#  如果填写过就业信息，使之不能修改 #}
        <form>
        <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="disabledInput1">{{ form.college_name.label }}</label>
                <input class="form-control" id="disabledInput1" type="text" placeholder="{{ student.college_name }}" disabled>
                <label for="disabledInput2">{{ form.college_name.label }}</label>
                <input class="form-control" id="disabledInput2" type="text" placeholder="{{ student.college_type }}" disabled>
                <label for="disabledInput3">{{ form.after_major.label }}</label>
                <input class="form-control" id="disabledInput3" type="text" placeholder="{{ student.after_major }}" disabled>
            </div>
        </div>
        </div>
        </form>
    {% elif exist == 'create' %}    {#  如果填写过就业信息，使之不能修改 #}
        <form>
        <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="disabledInput1">{{ form.create_type.label }}</label>
                <input class="form-control" id="disabledInput1" type="text" placeholder="{{ student.create_type }}" disabled>
                <label for="disabledInput2">{{ form.create_job.label }}</label>
                <input class="form-control" id="disabledInput2" type="text" placeholder="{{ student.create_job }}" disabled>
            </div>
        </div>
        </div>
        </form>
    {% endif %}
{% endblock %}