{% extends "base.html" %}   {#继承自base.html#}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <h3>您好，{{ current_user.username }}（{{ current_user.user_type_ch() }}）</h3>
        </div>
    <div class="col-md-offset-4">
    <blockquote class="blockquote-reverse">
        &nbsp;&nbsp;&nbsp;常用功能:
        <a class="btn btn-success" href="{{ url_for('contest_list') }}" role="button">
            {% if current_user.type == 'student' %}竞赛申请
            {% else %}竞赛列表
            {% endif %}
        </a>
        <a class="btn btn-danger" href="{{ url_for('award_list') }}" role="button">参赛/获奖列表</a>
        <a class="btn btn-primary" href="{{ url_for('notice_list') }}" role="button">公告列表</a>
        {% if current_user.type == 'student' %}
            <a class="btn btn-warning" href="{{ url_for('edit_work') }}" role="button">添加就业信息</a>
        {% else %}
            <a class="btn btn-warning" href="{{ url_for('request_list') }}" role="button">申请信息审核</a>
        {% endif %}

    </blockquote>
    </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        <div class="panel panel-danger">
            <div class="panel-heading">通知公告
                <div class="pull-right"> <a href="{{ url_for('notice_list') }}">更多...</a> </div></div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <th class="text-center">标题</th>
                        <th class="text-right">发布时间</th>
                    </tr>
                    {% for list in lists %}
                        <tr valign="top">
                            <td class="text-center"><a href="{{ url_for('notice_details', id=list.id) }}">{{ list.title }}</a></td>
                            <td class="text-right">{{ list.time }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
{#        <div class="col-md-8">#}
{#            <div class="jumbotron">#}
{#            <h1>{{ current_user.username }}，欢迎您！</h1>#}
{#            <p>...</p>#}
{#            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
{#            </div>#}
{#        </div>#}

        <div class="col-md-4">
                <div class="panel panel-success">
            <div class="panel-heading">竞赛列表
                <div class="pull-right"> <a href="{{ url_for('contest_list') }}">更多...</a> </div></div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <th class="text-center">竞赛名</th>
                        <th class="text-center">竞赛类型</th>
                    </tr>
                    {% for list in lists2 %}
                        <tr valign="top">
                            <td class="text-center">{{ list.contest_name }}</td>
                            <td class="text-center">{{ list.contest_type }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            </div>
{#            <a href="#">#}
                <img src="{{ url_for('static', filename='image/building2.png') }}" alt="综合实验楼">
{#            </a>#}

        </div>
    </div>
{#    <div class="row">#}
{#        &nbsp;&nbsp;&nbsp;常用功能:#}
{#        <a class="btn btn-success" href="{{ url_for('contest_list') }}" role="button">#}
{#            {% if current_user.type == 'student' %}竞赛申请#}
{#            {% else %}竞赛列表#}
{#            {% endif %}#}
{#        </a>#}
{#        <a class="btn btn-danger" href="{{ url_for('award_list') }}" role="button">获奖列表</a>#}
{#        <a class="btn btn-primary" href="{{ url_for('notice_list') }}" role="button">公告列表</a>#}
{#        {% if current_user.type == 'student' %}#}
{#            <a class="btn btn-warning" href="{{ url_for('edit_work') }}" role="button">修改就业信息</a>#}
{#        {% else %}#}
{#            <a class="btn btn-warning" href="{{ url_for('request_list') }}" role="button">审核申请</a>#}
{#        {% endif %}#}
{##}
{#    </div>#}

{% endblock %}