{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
    {% if title == '编辑资料' %}
        {% if current_user.type=='admin' %}
            <h4>用户类型：管理员</h4>
        {% elif current_user.type=='student' %}
            <h4>用户类型：学生</h4>
        {% elif current_user.type=='teacher' %}
            <h4>用户类型：教师</h4>
        {% endif %}
        <h3>学号：{{ current_user.user_id }} &nbsp;&nbsp;&nbsp;姓名：{{ current_user.username }}</h3>
    {% elif title == '添加竞赛' %}
        <a class="btn btn-danger" href="{{ url_for('edit_contest_type') }}" role="button">管理竞赛类型</a>
    {% endif %}
    <div class="row">
        {% if title != '编辑公告' and title != '添加公告' %}
        <div class="col-md-4">
        {% endif %}
            {{ wtf.quick_form(form) }}
        {% if title != '编辑公告' and title != '添加公告' %}
        </div>
        {% endif %}
    </div>

    {% if title == '登陆' %}
        <br>
        <p>
        <b>忘记密码？<a href="{{ url_for('reset_password_request') }}">点击重置密码</a></b>
        </p>
        <b><p>新的用户？<a href="{{ url_for('register') }}">点击注册</a></p></b>
    {% elif title == '添加公告' %}
        <b><p>如果附件数大于三个，可再单独提交一个仅含附件的公告即可。</p></b>
    {% endif %}
{% endblock %}