{% extends "base.html" %}

{% block app_content %}
    <h3 class="text-center"><b>{{ list.title }}</b>
        {% if (current_user.type == 'admin')  %}      {#用户类型为管理员#}
        <br><blockquote class="pull-right">
            <a class="btn btn-success pull-right" type="button"
               href="{{ url_for('edit_notice', id= list.id ) }}">编辑</a>
            <a class="btn btn-danger pull-right" type="button" onclick="confirmdelete()"
               href="{{ url_for('delete_notice', id= list.id ) }}">删除</a>
        </blockquote><br><br>
        {% endif %}
    </h3>
    <br>
    <PRE>{{ list.text|safe }}</PRE>

    <div class="panel panel-default">
        <div class="panel-heading"><h4>文件下载</h4></div>
        <div class="panel-body">
        <ul>
            {% for file in file_list %}
            <li>
                <a href="{{ url_for('notice_downloader', id=list.id, filename=file) }}">{{ file }}</a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}