{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>注册</h1>
{#    {% from "_field.html" import render_field %}#}
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                用户类型：学生
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.id) }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.password2) }}
                {{ wtf.form_field(form.submit) }}
        {#        <table>#}
        {#            {{ render_field(form.username) }}#}
        {#            {{ render_field(form.id) }}#}
        {#            {{ render_field(form.email) }}#}
        {#            {{ render_field(form.password) }}#}
        {#            {{ render_field(form.password2) }}#}
        {#            <tr>用户类型：学生</tr>#}
        {#        </table>#}
        {#        <p>{{ form.submit() }}</p>#}
            </form>
        </div>
    </div>
{% endblock %}
{#      以下为不使用_field.html所进行的编码，替换10-15行  #}
{#        <p>#}
{#            {{ form.username.label }}<br>#}
{#            {{ form.username(size=32) }}<br>#}
{#            {% for error in form.username.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.id.label }}<br>#}
{#            {{ form.id(size=64) }}<br>#}
{#            {% for error in form.id.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.email.label }}<br>#}
{#            {{ form.email(size=64) }}<br>#}
{#            {% for error in form.email.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.password.label }}<br>#}
{#            {{ form.password(size=32) }}<br>#}
{#            {% for error in form.password.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.password2.label }}<br>#}
{#            {{ form.password2(size=32) }}<br>#}
{#            {% for error in form.password2.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <select>#}
{#            <option value="0">管理员</option>#}
{#            <option value="1">学生</option>#}
{#            <option value="2">老师</option>#}
{#        </select>#}
