{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    {% from "_field.html" import render_field %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table>
            {{ render_field(form.username) }}
            {{ render_field(form.id) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.password2) }}
            {{ render_field(form.type) }}
        </table>
{#        #}
{#        <p>#}
{#            {{ form.username.label }}<br>#}
{#            {{ form.username(size=32) }}<br>#}
{#            {% for error in form.username.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.id.label }}<br>#}
{#            {{ form.id(size=64) }}<br>#}
{#            {% for error in form.id.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.email.label }}<br>#}
{#            {{ form.email(size=64) }}<br>#}
{#            {% for error in form.email.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.password.label }}<br>#}
{#            {{ form.password(size=32) }}<br>#}
{#            {% for error in form.password.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.password2.label }}<br>#}
{#            {{ form.password2(size=32) }}<br>#}
{#            {% for error in form.password2.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <select>#}
{#            <option value="0">管理员</option>#}
{#            <option value="1">学生</option>#}
{#            <option value="2">老师</option>#}
{#        </select>#}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}