{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>

    {% if current_user.type == 'student' %}
        {#  如果为学生，因为只能查看自己的申请情况，故将个人参赛和组队参赛分开查看 #}
        <a class="btn btn-success" href="{{ url_for('request_list') }}" role="button">个人</a>
        <a class="btn btn-danger" href="{{ url_for('request_list_team') }}" role="button">组队</a>
        <br><br>
        <span style="color: red;">请先选择个人或组队</span>
    {% endif %}

    <table class="table table-hover">
        <tr>
            <th>竞赛名</th>
            <th>竞赛时间</th>
            <th>竞赛类型</th>
            <th>竞赛等级</th>
            <th>指导教师</th>
            <th>个人(组队)</th>
            <th>申请时间</th>
            <th>申请状态</th>
        </tr>
        {% for list in lists %}
            <tr valign="top">
                <td>{{ list.contest_details.contest_name }}</td>
                <td>{{ list.contest_details.contest_time }}</td>
                <td>{{ list.contest_details.contest_type }}</td>
                <td>{{ list.contest_details.level }}</td>
                <td>{{ list.teacher_details.username }}</td>
                <td>
                    {% if list.user_type == 0 %}
                        个人
                    {% else %}
                        组队
                    {% endif %}
                </td>
                <td>{{ moment(list.add_time).fromNow() }}</td>
                <td>
                {% if list.status==0 %}
                    <a href="{{ url_for('request_details', request_id=list.request_id) }}">待审核(详情...)</a>
                {% elif list.status==1 %}
                    <span style="color: green;">已通过</span>
                        <a href="{{ url_for('request_details', request_id=list.request_id) }}">(详情...)</a>
                {% elif list.status==2 %}
                    <span style="color: red;">已拒绝</span>
                        <a href="{{ url_for('request_details', request_id=list.request_id) }}">(详情...)</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if pagination %}
        {{ macros.pagination_widget(pagination, 'request_list') }}
    {% endif %}

{% endblock %}