{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>

    {% if current_user.type == 'student' %}
        {#  如果为学生，因为只能查看自己的申请情况，故将个人参赛和组队参赛分开查看 #}
        <a class="btn btn-success" href="{{ url_for('request_list') }}" role="button">个人</a>
        <a class="btn btn-danger" href="{{ url_for('request_list_team') }}" role="button">组队</a>
        <br><br>
        <span style="color: red;">请先选择个人或组队</span>
    {% endif %}

    <table class="table table-hover">
        <caption>申请列表</caption>
        <tr>
            <th>竞赛名</th>
            <th>竞赛时间</th>
            <th>竞赛类型</th>
            <th>竞赛等级</th>
            <th>指导教师</th>
            <th>个人(组队)</th>
            <th>申请状态</th>
        </tr>
        {% for list in lists %}
            <tr valign="top">
                <td>{{ list.contest_details.contest_name }}</td>
                <td>{{ list.contest_details.contest_time }}</td>
                <td>{{ list.contest_details.contest_type }}</td>
                <td>{{ list.contest_details.level }}</td>
                <td>{{ list.teacher_details.username }}</td>
                {% if list.user_type == 0 %}
                    <td>个人</td>
                {% else %}
                    <td>组队</td>
                {% endif %}
                {% if list.status==0 %}
                    <td><a href="{{ url_for('request_details', request_id=list.request_id) }}">待审核(详情...)</a></td>
{#                    {% if current_user.type == 'teacher' %}          {# 教师才能通过审核#}
{#                        <form  action="" method="post">#}
{#                        <td>#}
{#                            <span id="{{ list.request_id }}">#}
{#                                 <a href="javascript:if_agree('{{ list.request_id }}');">待审核(详情...)</a>#}
{#                            </span>#}
{#                        </td>#}
{#                        </form>#}
{##}
{#                        <td><a href="{{ url_for('agree_request',request_id=list.request_id) }}"></a></td>#}
{#                    {% else %}#}
{#                        <td>待审核</td>#}
{#                    {% endif %}#}
                {% elif list.status==1 %}
                    <td><span style="color: green;">已通过</span>
                        <a href="{{ url_for('request_details', request_id=list.request_id) }}">(详情...)</a>
                    </td>
                {% elif list.status==2 %}
                    <td><span style="color: red;">已拒绝</span>
                        <a href="{{ url_for('request_details', request_id=list.request_id) }}">(详情...)</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> 上一页
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    下一页 <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}